* {
    font-family:CircularSp,spotify-circular,Helvetica,Arial,sans-serif;;
}
body{
    overflow-x: hidden;
}
.navbar-brand img {
    margin-left: 30px;
    width: 132px;
    height: 42px;
}

.navbar {
    background-color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(6 252 13);
}


.navbar-light .navbar-nav .nav-link {
    color: white;
    font-weight: 600px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
    padding-left: 0.5rem;
}

ul li a :hover {
    background-color: green;
}

.navbar-toggler {
    background-color: aliceblue;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("items/Hamburger_icon.svg.png")
}

.navbar {
    background-image: linear-gradient(#fff);
}

.first {
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    background-position: center -138px;
    background-position-x: center;
    background-position-y: -138px;
    height: 600px;
}

.pic7 {
    width: 51%;
    margin-top: 1.5rem;
    margin-left: -1rem;

}









#button:hover {
    background-color: blueviolet;
    color: white;
}

.firsttext {
    margin-top: 13rem;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;


}

@media(min-width:500px) {
    #pic {
        display: none;
    }

    .firsttext {
        margin-top: 10rem;
    }
}

@media(max-width:600px) {
    #pic {
        display: none;
    }

    .firsttext {
        margin-top: 9rem;
        
        

    }
}

@media(min-width:992px) {
    #pic {
        display: block;
    }
}


.textsp {
    color: #000;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    object-fit: cover;
    margin-top: 40px;
}

.second {
    width: 100%;
    height: 95px;

}

.roundbutton {
    width: 260px;
    height: 300px;
   
    float: left;
    margin-left: 14px;
    margin-top: 14px;
}
@media (max-width : 370px){
    .roundbutton{
        margin-left: -10%;
    }
}

.buttonsp {
    margin-left: 50px;
    margin-right: auto;
    width: 142px;
    height: 142px;
}

.buttonhd {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 25px;
    padding: 0px;
    line-height: 1.3em;
    color: #000;
   text-align: center;
    margin-top: 27px
}
.buttonpr{
font-size: 16px;
font-weight: 400;
color: #000;
text-align: center;
}
#button{
    border-radius: 20px;
}
.tirddiv{
    padding-left: 93px;
    height: 318px;
}

/* @media(max-width:950px){
    .tirddiv{
        margin-left: 77px;
    }
} */
.fourthdiv{
    /* margin-left: 10px;
    margin-top: 300px;
    width: 100%; */
    height: 400px;
    background: linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
    /* display: flex; */
}
.forthtext{
    color: #fff;
    font-size: 5rem;
    padding-top: 10rem;
    text-align: center;
}
@media (max-width:1200px){
    .fourthdiv{
        margin-top: 500px;
    }
}
@media (max-width:640px){
    .fourthdiv{
        margin-top: 1000px;
    }
}
.btn-secondary {
    color: #000;
    background-color: #edf2f7;
    border-color: #edf2f7;
    margin-left: 10px;
    height: 50px;
    /* width: 100%; */
}
.fifthdiv{
    height: 50px;
}
.fifthtext{
    margin-top: 30px;
    text-align: center;
}
.sixthdiv{
    height: 500px;
}
.droptext{
    font-size: 30px;
    text-align: left;
}
.p-text{
    font-size: 25px;
    font-family:CircularSp,spotify-circular,Helvetica,Arial,sans-serif; ;
}
.sixthbutton{
    width: 100%;
    color: #000;
    background-color: aliceblue;
    font-size: 1.2rem;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem ;
}
.spanfont{
    color: green;
    font-weight: bold;
}
.seventhdiv{
    padding-top: 115px;
    width: 100%;
    height: 300px;
    background: url(https://www.scdn.co/i/free/bubbles-dktp.svg) center -138px / 100% 1068px no-repeat, linear-gradient(-45deg, rgb(108, 14, 224) -5%, rgb(240, 55, 166));
}
.seventhdiv h1{
    color: #fff;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    
}
.footerdiv{
    width: 100%;
    /* height:500px ; */
    background: #000;
    padding-top: 10px;
}
.footerrows{
    width: 200px;
    
   
    margin-left: 50px;
    margin-top: 10px;
    /* display: flex;  */
  
    
}
/* .seventhdiv button{
    vertical-align: middle;
} */
.footerdiv1{
    width: 100%;
    /* height:500px ; */
    background: #000;
    padding-top: 10px;
    padding-left: 100px; 
}
.footerli{
    /* text-align:left; */
    list-style: none;

}
.footerli li{
    margin-top: 10px;
   font-size: 16px;
   font-weight: 600;
   color: #fff;
   margin-left: -27px;
}
.footerli li:hover{
    color:rgb(6 252 13);
}
.footerrowhd{
    color: #919496;
    font-size: 12px;
    font-weight: 900;
    line-height: 1.4;
    letter-spacing: .08em;
    /* text-transform: uppercase; */


}



